body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    background: #d32f2f;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 60px;
    background: url('https://images.unsplash.com/photo-1550547660-d9450f859349') center/cover;
    color: white;
}

.btn {
    background: #ffcc00;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.cardapio, .bebidas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.item {
    background: white;
    margin: 10px;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    text-align: center;
}

button {
    background: #d32f2f;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

.finalizar {
    width: 90%;
    margin: 20px;
    padding: 15px;
    font-size: 18px;
}
