* { box-sizing: border-box; font-family: Arial, sans-serif; margin:0; padding:0; }
body { background:#f2f2f2; }

.topo { background:#c62828; color:white; padding:15px; display:flex; justify-content:space-between; align-items:center; }
.topo a { color:white; margin-left:15px; text-decoration:none; font-weight:bold; }

.btn { background:#ffca28; padding:10px 20px; border:none; border-radius:5px; cursor:pointer; font-weight:bold; }
.btn:hover { background:#ffc107; }

.container { display:flex; gap:20px; padding:20px; }
.produtos { flex:2; }
.produto { background:white; padding:15px; border-radius:6px; margin-bottom:10px; box-shadow:0 2px 4px rgba(0,0,0,0.1); transition:0.3s; }
.produto:hover { transform:translateY(-5px); box-shadow:0 6px 12px rgba(0,0,0,0.2); }
.produto h3 { margin:0; }
.produto p { margin:5px 0; }
.produto span { font-weight:bold; }
.produto button { background:#c62828; color:white; border:none; padding:8px 12px; border-radius:4px; cursor:pointer; transition:0.3s; }
.produto button:hover { background:#b71c1c; }

.produto-imagem {
    background-image:url('https://anamariabraga.globo.com/wp-content/uploads/2023/08/x-salada-caseiro-768x432.jpg');
    background-size:cover; background-position:center; color:white; padding:15px; border-radius:6px; margin-bottom:10px; box-shadow:0 2px 4px rgba(0,0,0,0.2); transition:0.3s;
}
.produto-imagem h3, .produto-imagem p, .produto-imagem span { text-shadow:1px 1px 4px rgba(0,0,0,0.7); }
.produto-imagem button { background:rgba(198,40,40,0.85); }
.produto-imagem button:hover { background:rgba(183,28,28,0.85); }

.produto-imagem-bacon {
    background-image:url('https://tse1.explicit.bing.net/th/id/OIP.Rtx4iye-2rHVLHi1l2uOfAHaEn?rs=1&pid=ImgDetMain&o=7&rm=3');
    background-size:cover; background-position:center; color:white; padding:15px; border-radius:6px; margin-bottom:10px; box-shadow:0 2px 4px rgba(0,0,0,0.2); transition:0.3s;
}
.produto-imagem-bacon h3, .produto-imagem-bacon p, .produto-imagem-bacon span { text-shadow:1px 1px 4px rgba(0,0,0,0.7); }
.produto-imagem-bacon button { background:rgba(198,40,40,0.85); }
.produto-imagem-bacon button:hover { background:rgba(183,28,28,0.85); }

.carrinho, .finalizar { flex:1; background:white; padding:15px; border-radius:6px; box-shadow:0 2px 4px rgba(0,0,0,0.1); }
.carrinho li { list-style:none; border-bottom:1px solid #ddd; margin-bottom:10px; padding-bottom:5px; }

@media(max-width:768px){ .container{ flex-direction:column; } }
